.hourlyContainer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  border-radius: 10px;
  background-color: rgba(208, 208, 208, 0.24);
  color: white;
  padding: 20px;
  margin: 20px;
  font-size: x-large;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.06), 
              0px 2px 2px rgba(0,0,0,0.06), 
              0px 6px 4px rgba(0,0,0,0.06);
}
.hourlyContainer .predictionSummary{
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 1rem;
}

@media screen and (max-width: 1020px){
  .hourlyContainer .predictionSummary{
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 550px){
  .hourlyContainer .predictionSummary{
    grid-template-columns: auto auto auto auto auto auto;
    overflow-x: scroll;
  }
}