.quote{
  display: block;
  position: relative;
  padding: 0px 20px 0px 20px ;
  color: white;
  text-align: center;
  font-size: calc(12px + 1vw);
  word-wrap: normal;
  transform: translate(0, 25vh);
}